In [1]:
import numpy as np
import pandas as pd 
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
test_file = 'test.csv'
train_file = 'train.csv'

In [3]:
import pandas as pd
test_data = pd.read_csv(test_file, index_col='Loan_ID')
test_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [4]:
train_data = pd.read_csv(train_file, index_col='Loan_ID')
train_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
y = train_data['Loan_Status']
y

Loan_ID
LP001002    Y
LP001003    N
LP001005    Y
LP001006    Y
LP001008    Y
           ..
LP002978    Y
LP002979    Y
LP002983    Y
LP002984    Y
LP002990    N
Name: Loan_Status, Length: 614, dtype: object

In [6]:
train_data.drop('Loan_Status', axis=1, inplace = True)
train_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban

In [7]:
y = y.map({'Y': 1, 'N': 0})
y

Loan_ID
LP001002    1
LP001003    0
LP001005    1
LP001006    1
LP001008    1
           ..
LP002978    1
LP002979    1
LP002983    1
LP002984    1
LP002990    0
Name: Loan_Status, Length: 614, dtype: int64

In [8]:
train_data['Gender'] = train_data['Gender'].map({'Male': 1, 'Female': 0})
train_data['Married'] = train_data['Married'].map({'Yes': 1, 'No': 0})
train_data['Education'] = train_data['Education'].map({'Graduate':1, 'Not Graduate': 0})
train_data['Self_Employed'] = train_data['Self_Employed'].map({'Yes': 1, 'No': 0})
train_data['Property_Area'] = train_data['Property_Area'].map({'Urban': 2, 'Semiurban': 1, 'Rural': 0})

In [9]:
test_data['Gender'] = test_data['Gender'].map({'Male': 1, 'Female': 0})
test_data['Married'] = test_data['Married'].map({'Yes': 1, 'No': 0})
test_data['Education'] = test_data['Education'].map({'Graduate':1, 'Not Graduate': 0})
test_data['Self_Employed'] = test_data['Self_Employed'].map({'Yes': 1, 'No': 0})
test_data['Property_Area'] = test_data['Property_Area'].map({'Urban': 2, 'Semiurban': 1, 'Rural': 0})

In [10]:
set(train_data['Dependents'])

{'0', '1', '2', '3+', nan}

In [11]:
train_data['Dependents'] = train_data['Dependents'].map({'0':0, '1':1, '2':2, '3+': 3})
test_data['Dependents'] = test_data['Dependents'].map({'0':0, '1': 1, '2': 2, '3+': 3})

In [12]:
train_data.isna().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
dtype: int64

In [13]:
test_data.isna().sum()

Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [14]:
ctrain_data = train_data.fillna(axis=1, method='ffill')

In [15]:
ctest_data = test_data.fillna(axis=1, method='ffill')

In [16]:
ctrain_data.isna().sum()

Gender               13
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [17]:
ctest_data.isna().sum()

Gender               11
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [18]:
ctrain_data['Gender'].fillna(inplace=True, method='ffill')

In [19]:
ctest_data['Gender'].fillna(inplace=True, method='ffill')

In [20]:
from sklearn.linear_model import Perceptron

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
train_x, test_x, train_y , test_y = train_test_split(ctrain_data, y)

In [23]:
print(train_x.shape, train_y.shape, test_x.shape, test_y.shape)

(460, 11) (460,) (154, 11) (154,)

In [24]:
train_y

Loan_ID
LP002840    0
LP001608    1
LP001953    1
LP002545    0
LP001907    1
           ..
LP001634    0
LP002640    1
LP002377    1
LP001636    1
LP002043    1
Name: Loan_Status, Length: 460, dtype: int64